.receita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--text-over-primary-light);
    background-color: var(--gray-100);
    border-radius: 4px;
    width: 100%;
}